services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  core:
    build: ./core
    env_file: .env
    depends_on:
      - postgres
      - redis
      - tg
      # - ai
    ports:
      - "8000:8000"

  # ai:
  #   build: ./ai
  #   env_file: .env
  #   depends_on:
  #     - redis
  #   ports:
  #     - "8001:8001"

  tg:
    build: ./tg
    env_file: .env
    depends_on:
      - redis
    ports:
      - "8002:8002"

volumes:
  pgdata:
